::ng-deep .mat-form-field-infix{
    padding: 7px 0 !important;
}
.special-divider{
    margin-bottom: 15px;
    border: 0.5px solid rgba(22, 22, 22, 0.644);
}
.textarea{
    border:2px solid black;
}

.close.mat-button {
    float: right;
    background-color:white;
    padding: 0 5px;
    line-height: 14px;
    min-width: auto;
}

.rejected{
    background-color:#3f51b5;
    color:#fff
}

.rejected:hover{
    background-color:#153961;
    color:#fff
}

.cancel{
    background-color:red;
    color:#fff
}

.cancel:hover{
    background-color:rgb(153, 31, 31);
}