<div  fxLayout="row" fxLayoutAlign="center center"><h1 style="margin-top:15px;"> <strong>Sold Products</strong></h1></div>
<div  fxLayoutAlign="start center" style="margin:7px;" >
    <div fxFlex="100" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="10px grid" fxLayoutAlign.lt-sm="start stretch" style="margin:5px;">
        <div *ngFor="let item of soldProducts" fxFlex.xs="0 0 calc(100%-10px)" fxFlex.sm="0 0 calc(100%-10px)" fxFlex.md="0 0 calc(50% - 10px)" > 
            <mat-card class="example-card" (click)="ProductDetailNavigate(item.product.Id)" >
                <div fxLayout="row" fxLayoutAlign="start start"style="margin-left:10px;">
                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
                        <span class="position"><h1  style="padding:0;margin:0"><strong>{{item.product.Title}}</strong></h1></span>
                        <span class="date-style">{{item.product.PublishedDate | date: 'dd/MM/yyyy'}}</span>
                        <div style="margin-top:8px;" fxLayoutAlign="end start" [ngStyle]="{'color':item.product.isSold==1?'green':''}">
                            <p><strong>{{item.product.isSold==1?'SOLD':''}}</strong></p>
                        </div>
                    </div>
                </div>
                
                <div style="margin-top:10px;" fxLayout="column">
                    <div fxFlex>
                        <ng-image-slider #nav [images]="[{image:item.tempImage?.Image?item.tempImage?.Image:'assets/images/empty-product.svg', thumbImage:item.tempImage?.Image?item.tempImage?.Image:'assets/images/empty-product.svg', alt:'', title:''}]" [arrowKeyMove]="false" [showArrow]="false" [imageSize]="{width: '100%', height: 150}" slideImage="1">
                        </ng-image-slider>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="start start">
                    <span class="category-style"><p class="p-position">{{item.product.Category.Name}}</p></span>
                    <span ><h3 class="h3-properties">{{item.product.Price}} ₺</h3></span>
                </div>
                <div fxLayoutAlign="space-between start" fxLayout="row wrap">
                    <p style="margin-left:5px;padding-top:12px;font-weight: 500;">BUYER: <strong>{{item.product.BuyerName?item.product.BuyerName:''}}</strong></p>
                    <button mat-icon-button matTooltip="Delete" (click)="openDeleteProductDialog(item.product.Id);$event.stopPropagation();">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div style="text-align: center; color: #3F51B5;margin:5px 15px;">
    <h1 *ngIf="isArrayEmpty(soldProducts)" >There are no any sold products!</h1>
</div>