<div fxLayout="row" fxLayoutAlign="center center"><h1 style="margin-top:15px;"> <strong>Inactive Products</strong></h1></div>

<div fxLayoutAlign="start center" style="margin:10px;"  >
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxLayoutGap="10px grid" fxLayoutAlign.xs="start stretch"  style="margin:5px;" >
        <div *ngFor="let item of userPassiveProducts"  fxFlex.xs="0 0 calc(100%-10px)" fxFlex.sm="0 0 calc(100%-10px)" fxFlex.md="0 0 calc(50% - 10px)"   > 
            <mat-card class="example-card" (click)="ProductDetailNavigate(item.product.Id)"  >
                
                <div fxLayout="row wrap" fxLayoutAlign="start start" style="margin-left:10px;" fxLayoutGap="10px">
                    <div fxLayout="column" fxLayoutAlign="start start" >
                        <span class="position"><h1  style="padding:0;margin:0;"><strong>{{item.product.Title}}</strong></h1></span>
                        <span class="date-style">{{item.product.PublishedDate | date: 'dd/MM/yyyy'}}</span>
                        <div style="margin-top:8px;" fxLayoutAlign="end start" [ngStyle]="{'color':item.product.isApproved==0?'#F79122':item.product.isApproved==1?'green':'red'}">
                            <p><strong>{{item.product.isApproved==0?'Waiting':item.product.isApproved==1?'Accepted':'Rejected'}}</strong></p>
                        </div>
                    </div>
                </div>
                
                <div style="margin-top:10px;" fxLayout="column">
                    <div fxFlex>
                        <ng-image-slider #nav [images]="[{image:item.tempImage?.Image?item.tempImage?.Image:'assets/images/empty-product.svg', thumbImage:item.tempImage?.Image?item.tempImage?.Image:'assets/images/empty-product.svg', alt:'', title:''}]" [arrowKeyMove]="false" [showArrow]="false" [imageSize]="{width: '100%', height: 150}" slideImage="1">
                        </ng-image-slider>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="start start">
                    <span class="category-style"><p class="p-position">{{item.product.Category.Name}}</p></span>
                    <span ><h3 class="h3-properties">{{item.product.Price}} ₺</h3></span>
                </div>
                <div fxLayout="row wrap">
                    <div style="margin-top:8px;" fxLayoutAlign="start start">
                        <button mat-icon-button matTooltip="Show Rejected Feedback" (click)="showRejectedStatusDialog(item);$event.stopPropagation();" *ngIf="item.product.RejectedMessage!=null">
                            <mat-icon>feedback</mat-icon>
                        </button>
                    </div>
                    <div fxLayoutAlign="end end" fxFlex>
                        <button mat-icon-button matTooltip="Edit Product" (click)="openEditProductDialog(item);$event.stopPropagation();">
                            <mat-icon >edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Delete" (click)="openDeleteProductDialog(item.product.Id);$event.stopPropagation();">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </div>
                    
                </div>
                
            </mat-card>
        </div>
    </div>
</div>

<div style="text-align: center; color: #3F51B5;margin:5px 15px;">
    <h1 *ngIf="isArrayEmpty(userPassiveProducts)" >There are no any inactive products!</h1>
</div>