<div class="container-table">
  <div fxLayoutGap="10px" style="margin-bottom: 10px;" fxLayout="row" fxLayoutAlign="space-between start">
    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Write Username or etc." #input>
    </mat-form-field>
    <span style="padding-top:10px;">
      <button mat-raised-button class="closed-ticket-btn" (click)="ToggleShowStatus()" [ngStyle]="{'background-color':toggleShowStatus?'red':'green'}">Show {{toggleShowStatus?'Closed':'Open'}} Tickets</button>
    </span>
  </div>

  <div class="mat-elevation-z8">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <span>
        <button mat-raised-button class="delete-selected-btn" *ngIf="toggleDeleteButton" (click)="DeleteSelectedTicket()"> <mat-icon color="white">delete</mat-icon> Delete Selected</button>
      </span>
    </div>
    <table mat-table [dataSource]="dataSource" matSort >
       <!-- Checkbox Column -->  
      <ng-container matColumnDef="Select" >  
        <th mat-header-cell *matHeaderCellDef >  
            <mat-checkbox (change)="$event ? masterToggle() : null"  
              [checked]="selection.hasValue() && isAllSelected()"  
              [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary" *ngIf="toggleDeleteButton">
            </mat-checkbox>  
        </th>  
        <td mat-cell *matCellDef="let row">  
          <mat-checkbox (click)="$event.stopPropagation()" 
            (change)="$event ? selection.toggle(row) : null"  
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" color="primary" *ngIf="toggleDeleteButton">
          </mat-checkbox>  
        </td>  
      </ng-container>  
      <!-- ID Column -->
      <ng-container matColumnDef="Order">
        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;"> # </th>
        <td mat-cell  *matCellDef="let row; let i = index;" style="font-weight: bold;">  {{paginator.pageIndex * paginator.pageSize + i + 1}}</td>
      </ng-container>

      <!-- UserID Column -->
      <ng-container matColumnDef="UserID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;">User ID </th>
        <td mat-cell *matCellDef="let row" [matTooltip]="''+row.UserID"> <strong> {{(row.UserID.length>6)? (row.UserID | slice:0:6)+'...':(row.UserID)}}</strong></td>
      </ng-container>

      <!-- UserFullName Column -->
      <ng-container matColumnDef="UserFullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Full Name </th>
        <td mat-cell *matCellDef="let row"> {{row.UserFullName}}</td>
      </ng-container>

      <!-- Message Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Title </th>
        <td mat-cell *matCellDef="let row"> {{row.Title}} </td>
      </ng-container>

        <!-- Priority Column -->
        <ng-container matColumnDef="Priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Priority </th>
        <td mat-cell *matCellDef="let row" style="font-weight: 500;" [ngStyle]="{'color':row.Priority==0?'green':row.Priority==1?'#F79122':'red'}"> {{row.Priority == 0?'Low':row.Priority == 1?'Medium':'High'}} </td>
      </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Status </th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'color':row.Status==0?'green':'red'}"> {{row.Status==0?'Open':'Closed'}} </td>
      </ng-container>

        <!-- CreatedOn Column -->
        <ng-container matColumnDef="CreatedOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Created On </th>
        <td mat-cell *matCellDef="let row"> {{row.CreatedOn | date: 'dd/MM/yyyy HH:mm'}} </td>
      </ng-container>

      <!-- FixedDate Column -->
      <ng-container matColumnDef="FixedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Fixed Date </th>
        <td mat-cell *matCellDef="let row" >{{row.FixedDate==null?'---':row.FixedDate | date: 'dd/MM/yyyy HH:mm'}} </td>
      </ng-container>

      <!-- Details&Operation Column -->
      <ng-container matColumnDef="Details&Operation">
        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;text-align: center;"> Details & Operation </th>
        <td mat-cell *matCellDef="let row" style="padding-left:10px;text-align: center;">
          <button mat-icon-button aria-label="Details of Ticket" (click)="openTicketDetailsDialog(row)"><mat-icon>menu</mat-icon></button>
          <button mat-icon-button aria-label="Delete Ticket" *ngIf="row.Status == 1" (click)="DeleteTicketByuserId(row.UserID)"><mat-icon color="warn">delete</mat-icon></button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter <b>{{input.value?input.value:' "' + input.value +'" '}}</b></td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25]"></mat-paginator>
  </div>
</div> 