<div class="login-container">
    <mat-toolbar class="login-toolbar" color="primary">New Password</mat-toolbar>
    <mat-card fxLayoutGap="5px">
    <form [formGroup]="resetPasswordForm" autocomplete="off">
        <div fxLayout="column" >
            <mat-form-field>
                <mat-icon matPrefix style="margin-right: 5px;">mail_outline</mat-icon>
                <input autofocus type="password" matInput placeholder="Password" formControlName="Password" required>
            </mat-form-field>
            <div>
                <button type="submit" mat-raised-button color="primary" (click)="ResetPassword()">Change Password</button>
            </div>
        </div>
    </form>
    </mat-card>
</div>
