.container-table{
    margin:10px;
}
table {
    width: 100%;
  }
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.closed-ticket-btn{
  color:white;
  margin:5px 5px;
}

.mat-elevation-z8{
  width: 100%;
  overflow-x:auto;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 8px !important;
}

.delete-selected-btn{
  margin:5px 5px;
  background-color:red;
  color:white;
}