<div class="login-container">
    <mat-toolbar class="login-toolbar" color="primary">Reset Password</mat-toolbar>
    <mat-card fxLayoutGap="5px">
    <form [formGroup]="forgotPasswordField" autocomplete="off" (submit)="ForgotPassword(forgotPasswordField.value)">
        <div fxLayout="column" >
            <mat-form-field>
                <mat-icon matPrefix style="margin-right: 5px;">mail_outline</mat-icon>
                <input autofocus type="email" matInput placeholder="Email" formControlName="Email" required>
            </mat-form-field>
            <div>
                <button type="submit" mat-raised-button color="primary" >Send Reset Password Link</button>
            </div>
        </div>
    </form>
    </mat-card>
</div>
