<span><h1>Change Password</h1></span>

<mat-divider></mat-divider>

<div style="margin-top: 10px;">
    <form [formGroup]="changePasswordForm" (ngSubmit)="ChangePassword(changePasswordForm.value)" autocomplete="off">
        <div  fxFlex="100" fxLayout="column">
            <mat-form-field appearance="standard">
                <mat-label>Current Password</mat-label>
                <input matInput type="password" id="CurrentPassword" name="CurrentPassword" formControlName="CurrentPassword" placeholder="Current Password" required> 
                <span matPrefix style="padding-right:5px;"><fa-icon [icon]="passwordIcon"></fa-icon></span>
            </mat-form-field>
                <mat-form-field appearance="standard">
                <mat-label>New Password</mat-label>
                <input matInput type="password" id="Password" name="Password" formControlName="Password" placeholder="Password" required> 
                <span matPrefix style="padding-right:5px;"><fa-icon [icon]="passwordIcon"></fa-icon></span>
            </mat-form-field>
            <mat-form-field appearance="standard">
            <mat-label>New Password Confirm</mat-label>
                <input matInput type="password" id="ConfirmPassword" name="ConfirmPassword" formControlName="ConfirmPassword" placeholder="Confirm Password" required> 
                <span matPrefix style="padding-right:5px;"><fa-icon [icon]="passwordIcon"></fa-icon></span>
            </mat-form-field>
            <span fxLayoutAlign="center center">
                <label *ngIf="Password.touched && Password.errors?.minlength" style="color:red;"><strong>Minimum 6 characters required!</strong></label>
            </span>
            <span fxLayoutAlign="center center">
                <label *ngIf="ConfirmPassword.touched && ConfirmPassword.errors?.passwordMismatch" style="color:red;"><strong>Password does not match!</strong></label>
            </span>
            <div fxFlex fxLayoutAlign="space-between start" style="margin-top: 10px;">
                <span><button mat-raised-button (click)="onNoClick($event)" color="warn">Cancel</button></span>
                <span><button mat-raised-button type="submit" color="primary" [disabled]="!changePasswordForm.valid">Update</button></span>
            </div>
            
        </div>
    </form>
</div>
   