.mat-elevation-z8{
    width: 100%;
    overflow-x:auto;
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0 8px !important;
  }
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container-table{
    margin:15px;
  }
  