.rejected{
    background-color:red;
    color:#fff
}

.rejected:hover{
    background-color:rgb(153, 31, 31);
}

.cancel{
    background-color:#fff;
    color:#153961
}

.cancel:hover{
    background-color:rgb(228, 228, 228);
}